name: Deploy Synapse to Prod

on:
  workflow_dispatch:
  push:
    branches:
      - workspace_publish

jobs:
  deploy:
    name: Deploy ARM templates to Prod
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Deploy Synapse ARM Template
      uses: azure/arm-deploy@v1
      with:
        subscriptionId: ${{ secrets.subscriptionId }}
        resourceGroupName: "dftest_rg"
        template: "dftest-ws/TemplateForWorkspace.json"
        parameters: "dftest-ws/TemplateParametersForWorkspace.json"
        deploymentName: "synapseDeployment"
